<div class="form-container">
  <!-- Label above the form -->
  <h3 class="text-center my-2 bg-dark rounded col-4 mx-auto text-info fs-4 py-4">
    <span class="bi bi-plus-circle me-2"></span>Add a New Product
  </h3>

  <!-- Form -->
  <form class="col-4 m-2 shadow-md p-3 bg-info rounded mx-auto">

    <!-- Product Name -->
    <div class="input-group my-3">
      <label for="name" class="input-group-text bi bi-cart px-4 bg-dark text-info"></label>
      <span class="input-group-text text-dark">Product Name</span>
      <input id="name" type="text" class="form-control" placeholder="Product Name" 
             [(ngModel)]="productName" name="productName"
             (focus)="nameFocused = true" 
             (blur)="nameFocused = false; nameTouched = true">
    </div>
    @if((nameFocused || nameTouched) && !productName) {
    <div class="text-danger text-center fw-bold">
      Please enter a product name.
    </div>
    }

    <!-- Product Price -->
    <div class="input-group my-3">
      <label for="price" class="input-group-text bi bi-currency-dollar px-4 bg-dark text-info"></label>
      <span class="input-group-text text-dark">Price</span>
      <input id="price" type="number" class="form-control" placeholder="Price" 
             [(ngModel)]="productPrice" name="productPrice"
             (focus)="priceFocused = true" 
             (blur)="priceFocused = false; priceTouched = true">
    </div>
    @if((priceFocused || priceTouched) && !productPrice) {
    <div class="text-danger text-center fw-bold">
      Please enter a product price.
    </div>
    }

    <!-- Description -->
    <div class="input-group my-3">
      <label for="des" class="input-group-text bi bi-file-earmark-text px-4 bg-dark text-info"></label>
      <span class="input-group-text text-dark">Description</span>
      <input id="des" type="text" class="form-control" placeholder="Description" 
             [(ngModel)]="productDescription" name="productDescription"
             (focus)="descFocused = true" 
             (blur)="descFocused = false; descTouched = true">
    </div>
    @if((descFocused || descTouched) && !productDescription) {
    <div class="text-danger text-center fw-bold">
      Please enter a product description.
    </div>
    }

    <!-- Product Image URL -->
    <div class="input-group my-3">
      <label for="img" class="input-group-text bi bi-image px-4 bg-dark text-info"></label>
      <span class="input-group-text text-dark">Image URL</span>
      <input id="img" type="text" class="form-control" placeholder="Image" 
             [(ngModel)]="productImage" name="productImage"
             (focus)="imageFocused = true" 
             (blur)="imageFocused = false; imageTouched = true">
    </div>
    @if((imageFocused || imageTouched) && !productImage) {
    <div class="text-danger text-center fw-bold">
      Please enter a product image URL.
    </div>
    }

    <!-- Product Category -->
    <div class="input-group my-3">
      <label for="cat" class="input-group-text bi bi-tags px-4 bg-dark text-info"></label>
      <span class="input-group-text text-dark">Category</span>
      <input type="text" id="cat" class="form-control" placeholder="Category" 
             [(ngModel)]="productCategory" name="productCategory"
             (focus)="categoryFocused = true" 
             (blur)="categoryFocused = false; categoryTouched = true">
    </div>
    @if((categoryFocused || categoryTouched) && !productCategory) {
    <div class="text-danger text-center fw-bold">
      Please enter a product category.
    </div>
    }

    <!-- Product Rating -->
    <div class="input-group mb-3">
      <label for="select" class="input-group-text bi bi-star px-4 bg-dark text-info"></label>
      <span class="input-group-text text-dark">Rating</span>
      <select class="form-select" id="select" [(ngModel)]="productRating" name="rating"
              (focus)="ratingFocused = true" 
              (blur)="ratingFocused = false; ratingTouched = true">
        <option selected value="5">Five</option>
        <option value="4">Four</option>
        <option value="3">Three</option>
        <option value="2">Two</option>
        <option value="1">One</option>
      </select>
    </div>
    @if((ratingFocused || ratingTouched) && !productRating) {
    <div class="text-danger text-center fw-bold">
      Please select a product rating.
    </div>
    }

    <!-- Submit Button -->
    <button type="submit" class="btn btn-dark btn-lg w-100 mt-3 py-2 rounded-pill" (click)="addProduct()">
      <i class="bi bi-save me-2"></i> Save Product
    </button>
  </form>
</div>